[Unit]
Description=wipestick drive eraser (tty1)
After=systemd-user-sessions.service systemd-udevd.service console-setup.service systemd-vconsole-setup.service
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/udevadm settle --timeout=20
ExecStart=/usr/local/sbin/wipestick-tui
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
Environment=TERM=linux
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
